@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@font-face {
  font-family: Lovelo;
  src: url(./font/Lovelo-LineLight.woff);
}
@font-face {
  font-family: Lovelo-Normal;
  src: url(./font/Lovelo-Black.woff);
}

* {
  overflow: hidden;
}

html {  
  scroll-behavior: smooth;
  overflow-y: auto;
}

body {
  background-color: #F3F4F4;
  color: #1b1b1b;  
}

h1 {
  font-family: 'Lovelo';
}

h2, h3 {
  margin: 0;
  font-family: 'Lovelo-Normal';
}

p {
  font-family: 'Montserrat';
  font-size: 1.5em;
}

.custom-text-one {
  color: #FF5DE0;
}

.custom-test-two {
  color: #9326FF;
}

.container-fluid {
  width: auto;
  margin: 0 15%;
  padding: 4rem;
}

/* FIRST SECTION */
.first-sec {
  padding: 4rem 0 0 0;
}

.navbar a {
  font-family: Lovelo-Normal;
}

.navbar a:hover {
  color: #9326FF !important;
}

.header-first-sec {
  margin-top: 10%;
  font-size: 8rem;
}

.astronaut {
  height: 15rem;
  position: relative;
  top: 30px;
  right: 40px;
  background-image: url('./img/astronaut.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  z-index: -1;
}

.universe {
  height: 20rem;
  width: 20rem;
  margin: 0 auto;
  position: relative;
  background-image: url('./img/universe.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  z-index: -1;
}

/* SECOND SECTION */
.second-sec {
  background-color: #1b1b1b;
  color: #F3F4F4;
  margin-top: -40vh !important;
  /* position: relative; */
}

.second-sec-iam {
  opacity: 0.075;
  font-size: 8em;
  font-family: 'Lovelo-Normal';
  writing-mode: vertical-lr;
  position: relative;
  top: 300px;
  right: 70px;
}

.second-sec-head {
  font-size: 4rem;  
  writing-mode: vertical-lr;
}

.third-sec-head {
  font-size: 4rem;  
  transform: rotate(180deg);
  writing-mode: vertical-lr;
}

.third-sec-iam {
  opacity: 0.075;
  font-size: 8em;
  font-family: 'Lovelo-Normal';
  transform: rotate(180deg);
  writing-mode: vertical-lr;
  position: relative;
  top: 0;
  left: 150px;
}

.soft-skills {
  font-size: 4rem;
  font-family: 'Lovelo';
}

.container-soft-skills {
  padding: 100px 0;
}


/* THIRD SEC */
.third-sec {  
  padding: 4rem 0;
}


.tester {
  border: 2px solid red;
}


/* FOURTH SEC */
.fourth-sec {
  padding: 4rem 0;
  background-color: #1b1b1b;
  color:#F3F4F4;
}

.proj {
  background-image: url('./img/gradient.svg');
  background-size: 28em;
  background-repeat: no-repeat;
  background-position: center;
}

.item-carousel-title {
  padding: 50px 0;
}

.item-carousel-text {
  margin: 40px 40px;
} 

.proj-img {
  width: 80%;
  opacity: 0.95;
}

/* FOOTER SEC */

.footer {
  padding: 4rem 0;
}

.footer-text {
  padding: 5rem;
}

.social-links {
  padding: 4rem 0;
}

.social-img {
  width: 72px;
}

li {
  display: inline;
}

/* MEDIA QUERY */
@media (max-width: 1480px) {
  p {
    font-size: 1em;
  }

  .container-fluid {
    margin: 0;
    padding: 50px 25px;
  }

  .header-first-sec {
    font-size: 4em;
  }
  .soft-skills {
    font-size: 3rem;
    font-family: 'Lovelo';
  }
  .social-img {
    width: 42px;
  }
}

@media (max-width: 620px) {
  .soft-skills {
    font-size: 2.2rem;
    font-family: 'Lovelo';
  }
  .second-sec-head {
    font-size: 3rem;  
    writing-mode: vertical-lr;
  }  
  .third-sec-head {
    font-size: 3rem;  
    transform: rotate(180deg);
    writing-mode: vertical-lr;
  }
}



.neon-effect:active {
  color:  #FF5DE0;
  text-shadow: 0 0 3vw #9326FF;
}



/* PLANETS ORBIT */

@keyframes first-orbit {
  from {
    transform: translate(-70%, -400%) rotate(80deg) translateX(190px);
  }
  to {
    transform: translate(-70%, -400%) rotate(440deg) translateX(190px);
  }
}

@keyframes second-orbit {
  from {
    transform: translate(-70%, -460%) rotate(80deg) translateX(360px);
  }
  to {
    transform: translate(-70%, -460%) rotate(440deg) translateX(360px);
  }
}


.planet-node, .planet-html, .planet-css, .planet-react, .planet-js,
.planet-php, .planet-wp, .planet-git, .planet-npm {
  width: 32px;
  height: 32px;
  background-image: url('./img/nodejs.png');
  background-size: contain;
  background-repeat: no-repeat;
  animation: first-orbit 7s linear infinite;
  position: relative;
  left: 50%;
  top: -10.5vh;
  z-index: -2;
  overflow: hidden;
}

.planet-html {
  background-image: url('./img/html-5.png');
  animation: first-orbit 12s linear infinite;
}

.planet-css {
  background-image: url('./img/css.png');
  animation: second-orbit 16s linear infinite;
}

.planet-js {
  background-image: url('./img/javascript.png');
  animation: second-orbit 8s linear infinite;
}

.planet-react {
  background-image: url('./img/react.png');
  animation: first-orbit 6s linear infinite;
}

.planet-wp {
  background-image: url('./img/wp.png');
  animation: second-orbit 10s linear infinite;
}

.planet-git {
  background-image: url('./img/git.png');
  animation: first-orbit 10s linear infinite;
}

.planet-wp {
  background-image: url('./img/npm.png');
  animation: second-orbit 10s linear infinite;
}